.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    align-items: center;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    height: 100px;
    position: sticky;
    top: 0;
    .footer_left {
        min-width: 250px;
      width: 15%;

      text-align: center;
    }
    .footer_mid {
        width: 100%;
  
    }
    .footer_right {
      text-align: center;
      min-width: 250px;
      width: 15%;
    }
    .nav {
      justify-content: space-between;
      a {
  
      }
    }
  }
  