@import "./variables";
@import "./mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bg-glass;
  backdrop-filter: blur($bg-glass-blur);
  transition: all 0.5s ease-in-out;
  z-index: $z-header;
  height: $header-height;

  @include mobile {
    display: none;
  }

  &.expanded {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, $color-primary-dark, rgb(31, 113, 140));

    .header_content {
      .title {
        display: flex;
        font-size: 5rem;
        color: $color-white;
        margin: 0;
        opacity: 0;
        animation: fadeIn 1s ease-in-out forwards;
        cursor: pointer;
        text-align: center;
        transform-origin: center;

        @keyframes fadeIn {
          from {
            opacity: 0;
            transform: translateY(20px);
          }

          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }

  .header_content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;

    @include desktop {
      padding: 0 12px;
    }

    .title_area {
      display: flex;
      align-items: end;
    }

    .title {
      min-width: 180px;
      font-size: 1.5rem;
      color: $color-white;
      margin: 0;
      margin-right: 0;
      text-align: right;

      @include desktop {
        min-width: 180px;
      }

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: $color-accent;
        }
      }
    }

    .language_selector {
      margin-left: auto;
      width: 40px;

      .lang_btn {
        color: $color-accent;
      }
    }

    .nav {
      display: flex;
      width: 240px;
      justify-content: space-around;
      padding-right: 12px;
      align-items: center;

      @include desktop {
        width: 220px;
      }

      button,
      a {
        color: $color-white;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.3s ease;
        background: none;
        border: none;
        padding: 8px 16px;
        cursor: pointer;

        &:hover {
          color: $color-accent;
        }
      }

      .icon_links {
        display: flex;
        flex: 1;
        align-items: center;
        gap: 12px;

        .icon_link {
          padding: 8px;
          width: 24px;
          height: 24px;
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            color: $color-accent;
          }
        }
      }
    }
  }
}

// Body 컴포넌트에 여백 추가
.body {
  margin-top: $header-height; // 헤더 높이만큼 여백
}