.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(14, 41, 84, 0.65);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease-in-out;
  z-index: 100;
  height: 40px;

  @media screen and (max-width: 768px) {
    display: none;
  }

  &.expanded {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(14, 41, 84), rgb(31, 113, 140));

    .header_content {
      .title {
        font-size: 5rem;
        color: white;
        margin: 0;
        opacity: 0;
        animation: fadeIn 1s ease-in-out forwards;
        cursor: pointer;
        text-align: center;
        transform-origin: center;
        @keyframes fadeIn {
          from {
            opacity: 0;
            transform: translateY(20px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }

  .header_content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;

    @media screen and (max-width: 1280px) {
      padding: 0 12px;
    }

    .title_area {
      display: flex;
      align-items: end;
    }

    .title {
      min-width: 180px;
      font-size: 1.5rem;
      color: white;
      margin: 0;
      margin-right: 0;
      text-align: right;

      @media screen and (max-width: 1280px) {
        min-width: 180px;
      }

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: #b7edf6;
        }
      }
    }

    .language_selector {
      margin-left: auto;
      width: 40px;
      .lang_btn {
        color: #b7edf6;
      }
    }

    .nav {
      display: flex;
      width: 240px;
      justify-content: space-around;
      padding-right: 12px;
      align-items: center;

      @media screen and (max-width: 1280px) {
        width: 220px;
      }

      button,
      a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.3s ease;
        background: none;
        border: none;
        padding: 8px 16px;
        cursor: pointer;

        &:hover {
          color: #b7edf6;
        }
      }

      .icon_links {
        display: flex;
        flex: 1;
        align-items: center;
        gap: 12px;
        .icon_link {
          padding: 8px;
          width: 24px;
          height: 24px;
          font-size: 1.2rem;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            color: #b7edf6;
          }
        }
      }
    }
  }
}

// Body 컴포넌트에 여백 추가
.body {
  margin-top: 40px; // 헤더 높이만큼 여백
}
