.post_container {
  color: white;
  padding: 2%;
  width: 100%;
  .post {
    background-color: rgba(255, 255, 255, 0.061);
    display: flex;
    height: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
    .post_image {
      height: 260px;
      overflow: hidden;
      padding-right: 20px;
      width: 260px;
    }
  }
}
