.sidebar {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  min-width: 250px;
  padding: 30px 1%;
  width: 20%;
  .profile_top {
    display: flex;
    justify-content: center;
    margin: auto;
    .profile_image {
      border-radius: 100%;
      margin-bottom: 10px;
    }
  }
  .profile_text {
    margin-bottom: 20px;
    .profile_name {
      margin-bottom: 10px;
      text-align: center;
    }
    .profile_position {
      text-align: left;
    }
    .profile_social {
      text-align: left;
      .profile_social_notion {
        color: #b7edf6;
      }
    }
    .profile_email {
      text-align: left;
    }
    .profile_workplace {
      text-align: left;
    }
  }
  .nav {
    justify-content: space-between;
    a {
      margin-right: 5px;
    }
  }
}
