.tag {
  display: inline-block;
  padding: 4px 8px;
  margin: 0 4px;
  border-radius: 12px;
  background-color: rgba(183, 237, 246, 0.1);
  color: #b7edf6;
  font-size: 0.8rem;
  font-weight: 500;

  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: rgba(183, 237, 246, 0.2);
    }
  }
}